.containers {
    height: 100%;
    padding: 0;
}

#masterContainer {
    width: 100%;
    margin: 0;
}

#editorContainer {
    width: 45%;
    margin: 0 40px 0 0;
    float: left;
}

#outputViewContainer {
    width: 45%;
    margin: 0 0 0 40px;
    float: left;
}